doctype html
html 
    head
        title #{title}

        meta(name='viewport',  content='width=device-width, initial-scale=1')
        link(rel='icon',       href='/favicon.png' type='image/png')
        link(rel='stylesheet', href='/css/styles.css')
        link(rel='stylesheet', href='https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200')
    body
        nav
            ul
                li
                    a
                        .img-container
                            img.img-sidebar(src='/gestion_productos.png' alt='Logo de la página')
                            span.text-logo ProdManagement &nbsp;
                            i.icon.material-symbols-outlined arrow_drop_down
        #sidebar
            ul.sidebar-list
                li.sidebar-category            
                    a.sidebar-element(href='#')
                        .sidebar-element-container
                            i.img-sidebar-element.material-symbols-outlined account_circle 
                            span.sidebar-category-text &nbsp;¡Hola, identifícate!
                hr
                li.sidebar-category            
                    a.sidebar-element(href='/')
                        .sidebar-element-container               
                            i.img-sidebar-element.material-symbols-outlined home
                            span.sidebar-category-text &nbsp;Inicio
                li.sidebar-category            
                    a.sidebar-element(href='#')
                        .sidebar-element-container               
                            i.img-sidebar-element.material-symbols-outlined cards
                            span.sidebar-category-text &nbsp;Ver colección
                hr
                li.sidebar-category 
                    a.sidebar-element(href='#')
                        .sidebar-element-container.btnLogout   
                            i.img-sidebar-element.material-symbols-outlined logout
                            span.sidebar-category-text &nbsp;Cerrar Sesión 
                hr

            script.
                const btnImgContainer = document.querySelector('.img-container'); //selecciona la clase del sidebar
                const icon = btnImgContainer.querySelector('.icon'); //Selecciona la clase para cambiar el icono de flecha hacia abajo del navbar

                btnImgContainer.addEventListener('click', function(){
                    document.getElementById('sidebar').classList.toggle('active'); //Muestra y oculta el sidebar cuando se hace click
                    //Si la constante icon se hace click con la constante btnImgContainer, cambia el icono de flecha hacia abajo -> hacia arriba
                    if (icon.textContent === 'arrow_drop_down') {
                        icon.textContent = 'arrow_drop_up'; //Flecha abajo
                    } else {
                        icon.textContent = 'arrow_drop_down'; //Flecha arriba
                    }
                });
        block content