extends header

block content
    .container-main
        h1 #{title}

        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo voluptatem maiores officia aperiam neque minima, tenetur laudantium voluptate, aut illum quae, a soluta consequatur eaque. A sequi voluptates minima vitae non magnam accusantium deleniti? Assumenda, debitis! Provident harum ut eaque, vel maiores libero aperiam reiciendis, accusantium possimus ex nisi aut consectetur voluptas deleniti voluptatem praesentium totam in id vero? Nemo earum explicabo odio ex molestias tempore hic, illo iusto quia harum, iure ad veniam, dolores quisquam rerum labore? Expedita nam perferendis a corporis alias eos iusto adipisci eligendi sed ipsam, suscipit, voluptatum aliquam recusandae tenetur iure quidem sit voluptatem eius?
