extends header

block content
    h1.title-main #{title}
    
    .container-welcome
        .row-container-welcome
            .container-left
                h2.title-container-welcome ¿Qué es ProdManagement?
                p.text-container-welcome ProdManagement es un software de gestión o administración de colecciones(productos), en donde usted tendra el control total de los productos y ver la información de una manera más organizada y detallada posible, para facilitar el manejo de una gran cantidad de información donde puede organizar los objetos en grupos y subgrupos que desea administrar en la app, la cual le otorgamos la posibilidad de poder subir imagenes como portada para identificar su colección.
                p.subText-container-welcome Los productos por el momento disponibles son: Películas, Libros y Videojuegos
            .container-right
                h2.title-container-welcome ¿Qué características ofrecemos?
                p.text-container-welcome La app ofrece la posibilidad de crear colecciones de los productos que usted necesite administrar, puede agregar una gran variedad de productos y personalizar los grupos y subgrupos a su gusto.
                P.subText-container-welcome Por el momento la aplicación contiene las siguientes herramientas en la interfaz del menú:
                
                ol(class='menu-welcome') 
                    li 
                        a(href='/crtCollection') Crear Colecciones
                    li
                        a(href='/seeCollections') Administrar colecciones (Ver colecciones)