doctype html
html
    head
        title #{title}

        meta(name='viewport',  content='width=device-width, initial-scale=1')
        link(rel='icon',       href='/favicon.png' type='image/png')
        link(rel='stylesheet', href='/css/styles.css')
        link(rel='stylesheet', href='https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200')
    
    body.cover-form
        .container-form
            img(src='/favicon.png' class='img-login-header')
            .container-form-header
                h1.page-mark-login ProdManagement
                    hr.line-page-form
                h2.welcome-login Bienvenido de nuevo
                h3.title-login #{title}

            form(action='/login' method='POST')
                .container-body-login
                    label(for='user' class='login-text') Usuario
                    .input-icon-loginRow
                        i.material-symbols-outlined(class='login-icon') person
                        input(type='text' name='user' id='user' class='form-input' placeholder='Agregar usuario' autofocus, required)
                    
                    label(for='password' class='login-text') Contraseña
                    .input-icon-loginRow
                        i.material-symbols-outlined(class='login-icon') vpn_key
                        input(type='password' name='password' id='password' class='form-input' placeholder='Agregar contraseña' autocomplete='off', required)
                    
                    button(type='submit' class='btn-form') Iniciar Sesión
                hr.line-page-form
                .footer-form
                    p.text-content ¿No tienes cuenta?
                    a(href='/register' class='suggesting-link') Registrarse
                    p(class='suggesting-link-text') aqui
